---
import Layout from "@/layouts/website.astro"
import { getTranslations, getTranslationDict } from "@/i18n"
import Info from "@/components/sections/contact/Info.astro"
import Terminal from "@/components/sections/contact/Terminal.astro"
import Section from "@/components/Section.astro"
import HeaderEffect from "@/components/HeaderEffect.astro"

const locale = Astro.currentLocale ?? "it"
const t = getTranslations(locale)
const dict = getTranslationDict(locale)
---

<Layout
  title={t("contact.meta.title")}
  description={t("contact.meta.description")}
>
  <HeaderEffect />
  <Section class="items-center gap-12 lg:flex-row">
    <Info {...dict.contact.info} />
    <Terminal {...dict.contact.terminal} />
  </Section>
</Layout>
